<configuration>
  <property name="FOLDER_NAME" value="accesslog" />
<appender name="accesslog" class="ch.qos.logback.core.rolling.RollingFileAppender">
  <file>${FOLDER_NAME}/ls.json</file>
  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    <fileNamePattern>${FOLDER_NAME}/ls.json.%d{yyyy-MM-dd}.gz</fileNamePattern>
    <maxHistory>7</maxHistory>
  </rollingPolicy>
    <encoder class="net.logstash.logback.encoder.AccessEventCompositeJsonEncoder">
      <providers>
        <pattern>
          <pattern>
            {
            "timestamp": "%date{ISO8601}",
            "@version" : "1",
            "@type" : "access",
            "client-host" : "%clientHost",
            "remote-user" : "%user",
            "request-message" : "%requestMethod",
            "request-url" : "%requestURL",
            "request-uri" : "%requestURI",
            "status-code" : "#asLong{%statusCode}" ,
            "bytes-sent" : "#asLong{%bytesSent}",
            "elapsed-time" : "#asLong{%elapsedTime}",
            "message" : "%requestURL %statusCode"
            }
          </pattern>
        </pattern>
      </providers>
    </encoder>
  </appender>
  ​
  <appender-ref ref="accesslog" />
  ​
</configuration>